
html,
body {
  padding: 0;
  margin: 0;
}

div#wrapper {
}

div#wrapper div.header {
  background-color: #e9e9e9;
  border-bottom: 3px solid #999;
  margin-bottom: 8px;
  overflow: auto;

  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
}

div#wrapper div.header div.inner {
  margin: 8px 16px;
}

div#wrapper div.header div.logo {
  float: left;
  font-size: 25px;
}

div#wrapper div.header div.logo a {
  text-decoration: none;
  color: #666;
}

div#wrapper div.header div.nav {
  float: right;
  display: inline-block;
}

div#wrapper div.header div.nav a,
div#wrapper div.header div.nav a:hover,
div#wrapper div.header div.nav a:visited {
  text-decoration: none;
  font-size: 19px;
  margin-left: 8px;
  color: #333;
}

div#wrapper div.content-body {
  margin-top: 48px;
  padding: 16px 16px 48px;
  overflow: auto;
}

div#wrapper div.footer {
  border-top: 3px solid #999;
  padding-top: 8px;
  margin-top: 8px;
  background-color: #e9e9e9;

  position: fixed;
  bottom: 0;
  height: 32px;
  width: 100%;
}

div#wrapper div.footer .inner {
  margin: 4px 16px;
}

/*** PROFILE, CARDS, CREATIONS ***/

.creation-card,
.card {
  border: 1px solid #999;
  height: 256px;
  width: 192px;
  margin-right: 8px;
  margin-bottom: 8px;
  float: left;
}

.card .inner {
  padding: 4px;
}

.card .inner h3 {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
}

div#user-card span {
  display: block;
  font-size: 17px;
}

div#visit-overview {}

div#visit-overview ul {
  list-style: none;
  padding: 0;
  margin: 0;
  overflow-y: scroll;
  height: 194px;
}

div#visit-overview ul li {
  font-size: 13px;
  color: #333;
  padding: 2px 0px 2px 0px;
  border-bottom: 1px solid #999;
  cursor: pointer;
}

div#visit-overview ul li.collection-loaded {
  border-right: 8px solid #999;
}

div#visit-overview ul li:hover {
  background-color: #e9e9e9;
}

div#creations-wrapper {
  clear: both;
  overflow: auto;
}

div#creations-wrapper .collection-wrapper {
  clear: both;
}

div#creations-wrapper .collection-wrapper h3 {
  border-top: 4px solid #999;
  margin: 8px 0 8px 0;
  padding: 8px 0;
}

div#creations-wrapper .collection-wrapper .creation-card {

}
      

