<!doctype html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <title>MoMath. MoMoney.</title>
  <link href="/css/mo.css" media="all" rel="stylesheet" type="text/css"/>
</head>
<body>
  <div id="wrapper">
    <div class="header">
      <div class="inner">
        <div class="logo"><a href="/">MoMATH</a></div>
        <div class="nav">
          <a href="/about">About</a>
          <a href="/contact">Contact</a>
          <a href="/login">Login</a>
        </div>
      </div>
    </div>
    <div class="content-body">
      <h3>MoMath. Login.</h3>
    </div>
    <div class="footer">
      <div class="inner">
        <span>© MoMath 2013</span>
      </div>
    </div>
  </div>
</body>
</html>