<div class="creation-card flip-card">
  <div class="front">
    <div class="creation">
      <canvas id="<%= id %>"></canvas>
      <img src="/img/icon.fullscreen.jpg" class="icon-fullscreen" />
      <span class="info">i</span>
    </div>
  </div>
  <div class="back">
    <div class="inner">
      <div class="exhibit-name">Exhibit Code: <%= ExhibitName %></div>
      <div class="downloads">
        <span class="download-header">Downloads:</span>
         <% _.each(blobs, function(blob) { %>
          <a href="<%= blob.url%>"><%= blob.name%></a>
        <% }); %>
      </div>
      <a href="<%= creationPageUrl %>" class="creation-link">Link</a>
      <span class="return">←</span>
    </div>
  </div>
</div>
